table{
    border:3px solid #BBBBBB;
    border-collapse: collapse;
    width: 100%;
}
td{
    border: 1px solid #BBBBBB;
    text-align: center;
}
thead tr td {
    font-weight: bold;
}
.todo{
    text-align: left;
}
.completeTasks{
    background: #AAAAAA;
}